.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: calc((20 / 16) * 1rem) calc((24 / 16) * 1rem);
  border-radius: 0.5rem;
  border: 0.15rem solid #82838500;
  width: 100%;
}
.checked {
  border-color: #534c99;
  background-color: var(--pale-violet);
}
.not-checked {
  border-color: #828385;
  background-color: var(--white);
}
.main > div:nth-child(1) {
  display: grid;
  grid-template-columns: 1.25rem 1fr;
  align-items: center;
  justify-content: flex-start;
  gap: calc((16 / 16) * 1rem);
}
.main > div:nth-child(1) > div {
  display: grid;
  text-align: start;
}

.title {
  font-size: 1rem;
  line-height: 1.3;
  font-weight: 600;
  color: var(--black);
}
.description {
  font-size: calc((14 / 16) * 1rem);
  line-height: 1.3;
  font-weight: 400;
  color: var(--grey-para);
}

.price {
  font-size: 1rem;
  color: #534c99;
  font-weight: 500;
}

@media (max-width: 768px) {
  .main {
    padding: calc((12 / 16) * 1rem) 1rem;
  }
}
