.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc((470 / 16) * 1rem);
  overflow: hidden;
  position: relative;
}
.main > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: calc((10 / 16) * 1rem);
}
.main > div:nth-child(2) {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: calc((40 / 16) * 1rem);
  padding: 2rem 1rem;
}
@media (min-width: 768) {
  .main-container {
    min-width: 438px !important;
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 768px) {
  .main {
    width: 100% !important;
    margin-bottom: 3rem;
    overflow: visible;
  }
  .main > div:nth-child(1) {
    padding: 0 1rem;
    align-items: center;
  }
  .main-container {
    background: linear-gradient(
      145.04deg,
      rgba(255, 255, 255, 0.82) 24.49%,
      rgba(255, 255, 255, 0) 100%,
      #ffffff 100%
    );
    border-radius: 0.5rem;
    box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.1);
    position: relative;
    top: calc((-48 / 16) * 1rem);
    width: 96% !important;
    margin-bottom: 2rem;
  }
  .info {
    text-align: center;
  }
  .footer {
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    border-top: 3px solid rgba(219, 219, 219, 0.658);
    padding: 1rem 1.5rem 2rem !important;
    z-index: 100;
  }
  .motion-card {
    display: flex;
    justify-content: center;
    width: 100% !important;
    z-index: 100;
    max-width: calc((580 / 16) * 1rem);
  }
}
